doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    h1 選手登録
    form(action="update" method="POST")
      input(type="text", name="name" placeholder="選手名")
      input(type="text", name="age" placeholder="年齢")
      button(type="submit") 送信
